@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&family=Mitr&family=Rajdhani:wght@300&family=Righteous&family=Roboto:wght@300&family=Sarala:wght@400;700&family=Source+Code+Pro:ital,wght@0,300;0,700;0,900;1,300;1,500&display=swap');
/*
font-family: 'Roboto', sans-serif;
*/

html{
  scroll-behavior: smooth;
}

/*Configuração da barra de rolagem */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track{
  background: black;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #000000, #1C1C1C, #363636, #4F4F4F );
  background-size: 100% 100%;
  animation: cores 30s ease infinite;
  border-radius: 25px;
}


*{
  margin: 0;
}
body{
  display: flex;
  flex-wrap: wrap;
  /* background: linear-gradient(45deg, #9796F0, #FBC7D4); */
  background: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20,20,20,0.6) ), url(./wall-bolsa.jpg);
  font-family: 'Roboto', sans-serif;
  color: whitesmoke;
  text-decoration: none;
}


.container{
  /* height: 100%; */
display: grid;
justify-content: space-between;
align-items: stretch;
justify-content: center ;
align-content: center ;
grid-gap: 20px;
padding: 15px;
grid-row-gap: 50px 50px 50px 50px;
grid-template: auto auto auto  / auto auto auto auto auto;
grid-template-areas: "a1 a2 a3 a4 a5"
                     "a1 a6 a6 a7 a7"
                    "a1 a8 a9 a9 a10 "                 
}
.header{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  grid-area: a1;
  width: 200px;
  height: 850px;
  border: none;
  background-color: rgba(28, 28, 29, 1.5);
  padding: 40px;
  /* box-shadow: 5px 5px 5px  black; */
  border-radius: 10px;
  font: bold;
  /* filter: drop-shadow(2px 2px 4px #f3f3f4); */
}
.img-title{
  width: 200px;
  margin-top: 150px;
 margin-bottom: 70px;
 border: #1f1e1e solid 4px;
 /* border-radius: 12px; */
 box-shadow: #1f1e1e ;
 background-color:#2f2e2eb2;
 
 
}
.nav{ /*itens nav*/
gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.menu{ /*botoes*/
  background-color: Transparent;
    background-repeat:no-repeat;
    border: none; 
  color:whitesmoke;
  font-weight: bold;
  text-align: justify;
  font-size: 16px;
}
.menu::before{
  content:"";
display: inline-block;
width: 25px;
height: 10px;
background-image: url(./chevron_right_FILL0_wght400_GRAD0_opsz48.svg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}



.titulo{
  font-size: 23px;
  padding-bottom: 25px;
}
.nav{
margin: center;
  margin-bottom: 450px;
}
.dash{
display: flex;
text-align: center;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  border: none;
  background-color: rgba(28, 28, 29, 0.6);
  padding: 30px;
 
  
 border-radius: 10px;
}
/* .dash::before, .dash::after{

  content: '';
  position: absolute;
  z-index: -1;
  width: calc(100%+30px);
  height: calc(100%+30px);
  background: linear-gradient(45deg, #feff00, #fbff3b,#d9de00,#feffb1,#ffffec);
  background-size: 300%;
  background-position: 105%;
  border-radius: 15px;
  animation: animarborda 2s linear alternate infinite;
}
@keyframes animarborda{
  0%{
    background-position: 0;
  } 100%{
    background-position: 300%;
  }
} */

.dash:hover{
  
  transition: transform 1000ms linear;
  transform: scale(1.01);
 
}

.usa-flag{
  width: 200px;
}

h4{
  margin-top: 20px;
}
.p{
  margin-top: 20px;
}
.alta{
  background-color: rgba(28, 28, 29, 1);
border-radius: 10px;
padding: 5px;
  /* border-bottom: 3px solid #27461f; */
  color: green;
  text-shadow: 0 0 10px black, 0  0 15px;
  font-size: 50px;
  font: bold;
}
.alta::before{
  content:"";
display: inline-block;

width: 20px;
height: 20px;
padding: 10px;
background-image: url(./trending_up_FILL0_wght400_GRAD0_opsz48.svg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}
.baixa{
  background-color: rgba(28, 28, 29, 1);
border-radius: 10px;
padding: 5px;
  color: red;
  text-shadow: 0 0 10px black, 0  0 15px;
  font-size: 50px;
  font: bold;
}
.baixa::before{

  content:"";
  display: inline-block;
  
  width: 20px;
  height: 20px;
  padding: 10px;
  background-image: url(./trending_down_FILL0_wght400_GRAD0_opsz48.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.anti-coti{
  
  color: yellow;
  text-shadow: 0 0 10px black, 0  0 15px;
  font-size: 28px;
  font: bold;
}
.anti-coti::before{
  content:"";
  display: inline-block;
  
  width: 15px;
  height: 15px;
  padding: 8px;
  background-image: url(./arrow_downward_FILL0_wght400_GRAD0_opsz48.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.titulo-bandeira{

font-size: 38px;
background-color: rgba(28, 28, 29, 0.1);
padding: 10px;
  border-radius: 8px;


}

.item-lista{
  position: relative;
  font-size: 20px;
 background-color: rgba(28, 28, 29, 1);
  padding: 10px;
  border-radius: 8px;
  
}
.titulo-pontos{
  font-size: 30px;
  padding: 7px;
    border-radius: 8px;

}

.continente{
  font-size: 27px;
  background-color: rgba(28, 28, 29, 0.1);
  padding: 10px;
  border-radius: 8px;
}
#dash1{
  grid-area: a2;
}

#dash2{
  grid-area: a3;
}
#dash3{
  grid-area: a4;
}
#dash4{
  grid-area: a5;
}
#dash5{
  grid-area: a6;
}
#dash6{
  grid-area: a7;
}
#dash7{
  grid-area: a8;
}
#dash8{
  grid-area: a9;
}
#dash9{
  grid-area: a10;
}
#dash10{
  grid-area: a10;
}
.menu:hover{
  -webkit-animation: shadow-drop-2-left 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-drop-2-left 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  color: #feff00;
}
@-webkit-keyframes shadow-drop-2-left {
  0% {
    -webkit-transform: translateZ(0) translateX(0);
            transform: translateZ(0) translateX(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px) translateX(12px);
            transform: translateZ(50px) translateX(12px);
    -webkit-box-shadow: -12px 0 20px -12px rgba(0, 0, 0, 0.35);
            box-shadow: -12px 0 20px -12px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-2-left {
  0% {
    -webkit-transform: translateZ(0) translateX(0);
            transform: translateZ(0) translateX(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px) translateX(12px);
            transform: translateZ(50px) translateX(12px);
    -webkit-box-shadow: -12px 0 20px -12px rgba(0, 0, 0, 0.35);
            box-shadow: -12px 0 20px -12px rgba(0, 0, 0, 0.35);
  }
}

 @media (390px <= width <= 919px){

  .container{
    display: flex;
    flex-direction: column;
    max-width: 80%;
  }
  


} 



/*
anotações

a dimensão dos card foi guiada pelo card header
todos os outros cards não tem dimensões pre-definidas
- isso ajudou na responsividade e na formatação dos espaços do grid

*/
