@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/*
font-family: 'Montserrat', sans-serif;
*/

/*html{

    overflow: hidden;
}*/

*{
  margin: 0;
}

body{
  background: #262b2f ;
  font-family: 'Montserrat', sans-serif;
  color: whitesmoke;
  text-decoration: none;
}

.container{

display: grid;
justify-items: center;
align-items: stretch;
justify-content: center ;
align-content: center ;
grid-gap: 20px;
padding: 15px;
grid-row-gap: 50px 50px 50px 50px;

grid-template: auto auto auto / auto auto auto auto auto ;

grid-template-areas: "a1 a2 a3 a4 a5"
                     "a1 a6 a6 a7 a7"
                    "a1 a8 a9 a9 a10 "

                    
}


.header{
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
grid-area: a1;
/* text-align:center; */
width: 200px;
height: 850px;
background-color: #808080;
/* background: linear-gradient(63.13deg, #334D50, #CBCAA5); */
border-radius: 30px;
padding: 40px;
box-shadow: 5px 5px 5px  black;
border-radius: 10px;
color: whitesmoke;


}
.nav{
gap: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: whitesmoke;
  

}
.menu{
  background-color: Transparent;
    background-repeat:no-repeat;
    border: none; 
  color: whitesmoke;
  text-align: justify;
  font-size: 14px;

}
.menu::before{
  content:"";
display: inline-block;
width: 25px;
height: 10px;
background-image: url(/chevron_right_FILL0_wght400_GRAD0_opsz48.svg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;


}
img{
  
   width: 50%;
 margin-bottom: 50px;

 
}

.titulo{

  font-size: 23px;
  padding-bottom: 25px;



}
.nav{
margin: center;
  margin-bottom: 450px;

}

.dash{
  text-align:center;
  /* width: 250px;
  height: 80px; */
  background-color: #4F4F4F;
  border-radius: 30px;
  padding: 40px;
  box-shadow: 5px 5px 5px  black;
  border-radius: 10px;



}
h4{
  margin-top: 20px;
}
.p{
  margin-top: 20px;
}

#dash1{

  grid-area: a2;
  
}

#dash2{
  grid-area: a3;
  
}
#dash3{
  grid-area: a4;
  
}
#dash4{
  grid-area: a5;

}
#dash5{
  grid-area: a6;
 
}
#dash6{
  grid-area: a7;
  
}
#dash7{
  grid-area: a8;
  
}
#dash8{
  grid-area: a9;
  
}
#dash9{
  grid-area: a10;
  
}
#dash10{
  grid-area: a10;
  

}

.menu:hover{
  transition: transform 100ms linear;
  transform: scale(1.08);
  color: black;
  
}

/*
anotações

a dimensão dos card foi guiada pelo card header
todos os outros cards não tem dimensões pre-definidas
- isso ajudou na responsividade e na formatação dos espaços do grid

*/
